services:
  db:
    build: ./database
    container_name: mysql-db
    env_file: .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped
volumes:
  mysql_data:
    name: mysql_data